<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
    <script th:src="@{/js/home.js}" defer></script>
    <title>See products</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
</head>
<body>
<div class="header">
    <img  th:src="@{/images/companyLogo.jpg}" width="100px"  />
    <span class="header-text">COMPANY NAME</span>
</div>
<h2>Add product:</h2>
<!--TODO 1 inputs and button for add-->

<h2>Delete product:</h2>
<!--TODO 2 inputs and button for delete-->

<h2>Modify product:</h2>
<!--TODO 3 inputs and button for modify-->

<h2>Product list:</h2>
<div id="products"></div>
</body>
</html>